{% extends 'emails/email_base.html' %}
{% block subject %}Amigostone. Смена пароля.{% endblock %}

{% block text_message %}
Здравствуйте, {{ name }}!

Ваш пароль доступа к аккаунту на сайте livecamsbay.com({{ site_url }}) успешно изменен.

Внимание! Чтобы изменить пароль, подключитесь к вашему аккаунту и перейдите в раздел «Мой профиль - Настройки».
{% endblock %}

{% block html_message %}
<p style="font-size: 16px; color: #000 !important; font-family: Arial, sans-serif; line-height: 1.5;text-align:justify; margin: 0; padding: 0; background:none;">
Здравствуйте, {{ name }}!
</p>
<p style="font-size: 16px; color: #000 !important; font-family: Arial, sans-serif; line-height: 1.5;text-align:justify; margin: 0; padding: 0; background:none;">
    Ваш пароль доступа к аккаунту на сайте <a href="{{ site_url }}" style="text-decoration:none;color:#797979;font-weight:bold;">livecamsbay.com</a> успешно изменен.
</p>
<p style="font-size: 16px; color: #000 !important; font-family: Arial, sans-serif; line-height: 1.5;text-align:justify; margin: 0; padding: 0; background:none;">
    <strong>Внимание! Чтобы изменить полученный пароль, подключитесь к вашему аккаунту и перейдите в раздел «Мой профиль - Настройки».</strong>
</p>
{% endblock %}