{% extends 'emails/email_base.html' %}
{% block subject %}Amigostone. Восстановление пароля.{% endblock %}

{% block text_message %}
Вы получили это письмо в ответ на запрос — Восстановить пароль к учётной записи на сайте Amigostone({{ site_url }}).

Чтобы изменить пароль, вы должны активировать код подтверждения на странице {{ input_password_key_url }}.
Код подтверждения: {{ recover_pass_key }}
Или перейдите по ссылке: {{ password_key_url }}
{% endblock %}

{% block html_message %}
<p style="font-size: 16px; color: #000 !important; font-family: Arial, sans-serif; line-height: 1.5;text-align:justify; margin: 0; padding: 0; background:none;">
    Здравствуйте, {{ name }}!</p>

<p style="font-size: 16px; color: #000 !important; font-family: Arial, sans-serif; line-height: 1.5;text-align:justify; margin: 0; padding: 0; background:none;">
    Вы получили это письмо в ответ на запрос — Восстановить пароль к учётной записи на сайте <a href="{{ site_url }}" style="text-decoration:none;color:#797979;font-weight:bold;">Amigostone</a>.
</p>
<p style="font-size: 16px; color: #000 !important; font-family: Arial, sans-serif; line-height: 1.5;text-align:justify; margin: 0; padding: 0; background:none;">
    Чтобы изменить пароль, вы должны активировать код подтверждения на странице <a href="{{ input_password_key_url }}" style="text-decoration:none;color:#797979;font-weight:bold;">{{ input_password_key_url }}</a>.
<br/>Код подтверждения: {{ recover_pass_key }}
<br/>
Или перейдите по ссылке: <a href="{{ password_key_url }}" style="text-decoration:none;color:#797979;font-weight:bold;">{{ password_key_url }}</a>.
</p>
{% endblock %}

{% block html_link_to_object %}
    <p align="center">
        <a href="{{ password_key_url }}" style="color:#ffffff;text-decoration: none;text-align:center;font-family: Arial, sans-serif;font-size:16px;margin:0px auto;padding: 10px 25px;background: #358c38;line-height:40px;border-radius:5px;border:none;">
            Восстановить пароль
        </a>
    </p>
{% endblock %}