{% extends 'emails/email_base.html' %}
{% block subject %}Заказ выполнен и закрыт.{% endblock %}

{% block text_message %}
Здравствуйте, {{ name }}, выполняемый Вами заказ "{{ order_name }}" на каменной бирже Amigostone.ru  закрыт.
Заказчику пришло уведомление и возможности добавить отзыв о вашей компании.
Если у заказчика не найдётся времени напомните ему об этой возможности
т.к. из отзывов формируется рейтинг Вашей компании что напрямую влияют на многие параметры вашего аккаунта,
а соответственно на прибыль Вашей компании.
{% endblock %}

{% block html_message %}
<p style="font-size: 16px; color: #000 !important; font-family: Arial, sans-serif; line-height: 1.5;text-align:justify; margin: 0; padding: 0; background:none;">
Здравствуйте, {{ name }}, выполняемый Вами заказ "{{ order_name }}" на каменной бирже Amigostone.ru  закрыт.
Заказчику пришло уведомление и возможности добавить отзыв о вашей компании.
Если у заказчика не найдётся времени напомните ему об этой возможности
т.к. из отзывов формируется рейтинг Вашей компании что напрямую влияют на многие параметры вашего аккаунта,
а соответственно на прибыль Вашей компании.
</p>
{% endblock %}

{% block html_link_to_object %}
    <p align="center">
        <a href="{{ order_link }}" style="color:#ffffff;text-decoration: none;text-align:center;font-family: Arial, sans-serif;font-size:16px;margin:0px auto;padding: 10px 25px;background: #358c38;line-height:40px;border-radius:5px;border:none;">
            Перейти к заказу
        </a>
    </p>
{% endblock %}