{% extends 'emails/email_base.html' %}
{% block subject %}Заказ прошёл модерацию, опубликован.{% endblock %}

{% block text_message %}
Здравствуйте {{ name }}, Ваш заказ "{{ order_name }}", размещённый на каменной бирже Amigostone.ru, прошёл модерацию и опубликован {{ order_link }}.
В момент публикации заказ разослан наиболее заинтересованным в нём компаниям.
В ближайшее время вы получите уведомления с предложениями по его выполнению.
{% endblock %}

{% block html_message %}
<p style="font-size: 16px; color: #000 !important; font-family: Arial, sans-serif; line-height: 1.5;text-align:justify; margin: 0; padding: 0; background:none;">
Здравствуйте {{ name }}, Ваш заказ "{{ order_name }}", размещённый на каменной бирже Amigostone.ru прошёл, модерацию и опубликован (<a href="{{ order_link }}" style="text-decoration:none;color:#797979;font-weight:bold;">ссылка</a>).<br>
В момент публикации заказ разослан наиболее заинтересованным в нём компаниям.<br>
В ближайшее время вы получите уведомления с предложениями по его выполнению.
</p>
{% endblock %}

{% block html_link_to_object %}
    <p align="center">
        <a href="{{ order_link }}" style="color:#ffffff;text-decoration: none;text-align:center;font-family: Arial, sans-serif;font-size:16px;margin:0px auto;padding: 10px 25px;background: #358c38;line-height:40px;border-radius:5px;border:none;">
            Перейти к заказу
        </a>
    </p>
{% endblock %}