[SUBJECT]
livecamsbay.com. Восстановление пароля.

[CONTENT]
Здравствуйте, {{ username }}!

Вы получили это письмо в ответ на запрос — Восстановить пароль к учётной записи на сайте livecamsbay.com({{ site_url }}).

Чтобы изменить пароль, вы должны активировать код подтверждения {{ recover_pass_key }} на странице {{ input_password_key_url }}.
Для этого перейдите по ссылке: {{ password_key_url }}

Внимание! Если вы не просили выслать пароль — не обращайте внимания на это письмо.

*****
Служба поддержки сайта livecamsbay.com ({{ site_url }})

[HTML]
<p>Здравствуйте, {{ username }}!</p>

<p>Вы получили это письмо в ответ на запрос — Восстановить пароль к учётной записи на сайте <a href="{{ site_url }}">livecamsbay.com</a>.

Чтобы изменить пароль, вы должны активировать код подтверждения {{ recover_pass_key }} на странице <a href="{{ input_password_key_url }}">{{ input_password_key_url }}</a>.
Для этого перейдите по ссылке: <a href="{{ password_key_url }}">{{ password_key_url }}</a>.
</p>

<p><strong>Внимание! Если вы не просили выслать пароль — не обращайте внимания на это письмо.</strong></p>

*****<br>
Служба поддержки сайта <a href="{{ site_url }}">livecamsbay.com</a>