{% extends 'emails/email_base.html' %}
{% block subject %}Amigostone. Тикет закрыт.{% endblock %}

{% block text_message %}
Здравствуйте, {{ name }}, Ваш вопрос "{{ ticket_message }}" оставленный в системе обратной связи сайта Amigostone.ru закрыт.
{% endblock %}

{% block html_message %}
<p style="font-size: 16px; color: #000 !important; font-family: Arial, sans-serif; line-height: 1.5;text-align:justify; margin: 0; padding: 0; background:none;">
Здравствуйте, {{ name }}, Ваш вопрос "{{ ticket_message }}" оставленный в системе обратной связи сайта Amigostone.ru закрыт.
</p>
{% endblock %}

{% block html_link_to_object %}
    <p align="center">
        <a href="{{ tickets_url }}" style="color:#ffffff;text-decoration: none;text-align:center;font-family: Arial, sans-serif;font-size:16px;margin:0px auto;padding: 10px 25px;background: #358c38;line-height:40px;border-radius:5px;border:none;">
            Перейти к вопросу
        </a>
    </p>
{% endblock %}