{% extends "accounts/base.html" %}

{% block breadcrumbs %}
    {{ block.super }}
    <div class="breadcrumb"><a href="">Бонусы</a></div>
{% endblock %}

{% block profile_content %}
        <div class="nav_name">
        <div class="Full_name">Бонусы</div>
        </div>
        <div class="amigo_bonus"></div>
        <div class="Total" style="width:800px;">
            <p id="total">Страница в разработке.<br> Приносим извинения за доставленные неудобства.</p>
{#				<div><span class="tooltip right" style="width:250px; tabindex="0">Что такое бонусы Amigostone<span>Бонусы amigo stone - это Бонусы amigo stone - это#}
{#				Бонусы amigo stone - это Бонусы amigo stone - это Бонусы amigo stone - это Бонусы amigo stone - это Бонусы amigo stone - это#}
{#				</span></div>#}
        </div>


{% endblock %}