{% extends "accounts/note_list.html" %}
{% load widget_tweaks common_exras %}

{% block breadcrumbs %}
    {{ block.super }}
    <div class="breadcrumb"><a href="{% url 'accounts:note_add' %}">Создать заметку</a></div>
{% endblock %}

{% block profile_content %}
    <div class="block_info">
    <div class="nav_name">
        <div class="Full_name">Добавить заметку</div>
    </div>

        <form action="" method="post" style="margin:0 auto; width:525px;">
            {% csrf_token %}

            {% check_forms form %}

            {% for field in form %}
                <div class="control-container {{ field.css_classes }}">{{ field.label_tag }}{{ field }}</div>
            {% endfor %}

            <div class="buttons-container buttons-container-center"><button class="button" type="submit">Сохранить</button></div>

        </form>
        {{ form.media }}
    </div>
    <script>
    $(function(){
        $('#id_notify_date').datetimepicker({
            lang: 'ru',
            i18n: {
                ru: {
                    months: [
                        'Январь', 'Февраль', 'Март', 'Апрель',
                        'Май', 'Июнь', 'Июль', 'Август',
                        'Сентябрь', 'Октябрь', 'Ноябрь', 'Декабрь',
                    ],
                    dayOfWeek: [
                        "Вс", "Пн", "Вт", "Ср",
                        "Чт", "Пт", "Сб",
                    ]
                }
            },
            dayOfWeekStart: 1,
            format: 'd.m.Y H:i:00'
        });
    })
    </script>
{% endblock %}