{% extends "accounts/profile.html" %}
{% load widget_tweaks thumbnail common_exras %}

{% block breadcrumbs %}
    {{ block.super }}
    <div class="breadcrumb"><a href="{% url 'accounts:profile_change_password' %}">Смена пароля</a></div>
{% endblock %}

{% block profile_content %}

    <div class="nav_name">
        <div class="Full_name">Смена пароля</div>
    </div>
    <div class="resend_wrap" style="margin-top:0; margin-left:200px;">

        <form action="" method="post" class="resend">
            {% csrf_token %}

            {{ password_change_form.show_errors }}

            <div class="control-container {{ password_change_form.old_password.css_classes }}">{{ password_change_form.old_password.label_tag }}{{ password_change_form.old_password }}</div>
            <div class="control-container {{ password_change_form.new_password1.css_classes }}">{{ password_change_form.new_password1.label_tag }}{{ password_change_form.new_password1 }}</div>
            <div class="control-container {{ password_change_form.new_password2.css_classes }}">{{ password_change_form.new_password2.label_tag }}{{ password_change_form.new_password2 }}</div>

            <div class="buttons-container buttons-container-left"><button class="button" type="submit">Изменить</button></div>

        </form>


    </div>
{% endblock %}
