                <div class="tabscontent" style="display: block; padding: 0">
                <div class="contents marginbot" style="margin-left:0;">
                    <div>


                        <div class="jcarousel_wrapper">
                            <div class="jcarousel_menu jcarousel_menu_text catalog_products_element jcarousel_element"
                                 data-jcarousel="true">
                                <ul>
                                    {% for catalog in work_catalog %}
                                        <li>
                                            <a class="jq_top_catalogs" href="{% url 'works:ajax_catalog_works_for_company' catalog.pk company.id %}">{{ catalog.title }}</a>
                                        </li>
                                    {% endfor %}
                                </ul>
                            </div>
                            <a class="jcarousel-control-prev" href="#"></a>
                            <a class="jcarousel-control-next" href="#"></a>
                        </div>

                        <div class="jq_sub_catalogs_list"></div>
                        <div class="jq_catalog_elements_list catalog_elements_list"></div>


                    </div>
                </div>
                </div>