{% extends "base.html" %}
{% load widget_tweaks common_exras %}

{% block content %}

    <div class="wrapper">

    <div class="nav_name" style="margin-top:23px;">
        <h1>Восстановление пароля</h1>
    </div>

    {% if form %}



                <form class="resend" method="post">
                    {% csrf_token %}
                    {{ form.action }}

                    <div class="form-row">
                        <div class="form-col-4 form-col-offset-4">
                            {{ form.show_errors }}
                        </div>
                    </div>

                    <div class="form-row">
                        <div class="form-col-4 form-col-offset-4">
                            <div class="control-container {{ form.password1.css_classes }}">{{ form.password1.label_tag }}{{ form.password1 }}</div>
                        </div>
                    </div>
                    <div class="form-row">
                        <div class="form-col-4 form-col-offset-4">
                            <div class="control-container {{ form.password2.css_classes }}">{{ form.password2.label_tag }}{{ form.password2 }}</div>
                        </div>
                    </div>


                    <div class="buttons-container buttons-container-center"><button class="button" type="submit">Отправить</button></div>
                </form>


    {% elif success %}
        <div class="resend">
            <div class="word" style="text-align:center">
                <br>Ваш пароль доступа к аккаунту на сайте Amigostone успешно изменен. <br>Пожалуйста,
                используйте его для входа.
            </div>
        </div>
        <div class="br" style="padding-top: 20px"></div>
    {% else %}
        <div class="resend">
            <div class="word" style="text-align:center">
                Внимание! Неверный или устаревший ключ для восстановления пароля.<br/>
                Для повторного получения ключа перейдите по <a href="{% url 'authorization:forgot_password' %}" style="color: #417538">ссылке</a><br/> и введите заново регистрационный e-mail в форму восстановления пароля.
            </div>
        </div>
        <div class="br" style="padding-top: 20px"></div>
    {% endif %}

    </div>


{% endblock %}