{% extends "base.html" %}
{% load widget_tweaks common_exras %}

{% block breadcrumbs %}
    {{ block.super }}
    <div class="breadcrumb"><a href="{% url 'authorization:forgot_password' %}">Восстановление пароля</a></div>
{% endblock %}


{% block content %}
    {% if not email %}
        <div class="wrapper">

            <div class="nav_name">
                <h1>Восстановление пароля</h1>
            </div>

                <form method="post" class="resend">
                    {% csrf_token %}
                    {{ form.action }}

                    <div class="word" style="text-align:center">Если Вы забыли пароль, то можете его восстановить.<br>
                        Для этого введите в форму номер телефона или e-mail, указанные при регистрации.<br>
                        Мы отправим на них код подтверждения для восстановления пароля. <br>
                        После введения кода Вы получите новый (или временный) пароль.
                    </div>
                    <div class="form-row">
                        <div class="form-col-4 form-col-offset-4">
                            {{ form.show_errors }}
                        </div>
                    </div>
                    <div class="form-row">
                        <div class="form-col-4 form-col-offset-4">
                            <div class="control-container {{ form.email.css_classes }}">{{ form.email.label_tag }}{{ form.email }}</div>
                        </div>
                    </div>

                    <div class="buttons-container buttons-container-center"><button class="button" type="submit">Отправить</button></div>
                </form>


        </div>

    {% else %}
        <div class="wrapper">

            <div class="nav_name">
                <h1>Восстановление пароля</h1>
            </div>

                <form method="get" class="resend" action="{% url 'authorization:recover_password' %}">

                    <div><a href="" style="color:#000; font-size:18px; margin-top:26px; margin-left: 380px;">На указанную почту был выслан код подтверждения</a></div>
                    <div class="form-row">
                        <div class="form-col-4 form-col-offset-4">
                            {{ form.show_errors }}
                        </div>
                    </div>
                    <div class="form-row">
                        <div class="form-col-4 form-col-offset-4">
                            <div class="control-container {{ form.key.css_classes }}">{{ form.key.label_tag }}{{ form.key }}</div>
                        </div>
                    </div>

                    <div class="buttons-container buttons-container-center"><button class="button" type="submit">Отправить</button></div>
                </form>


        </div>


    {% endif %}

{% endblock %}