{% extends "base.html" %}

{% block content %}

    <div class="wrapper">

        <div class="nav_name">
            <h1>Регистрация прошла успешно</h1>
        </div>

        <div class="resend">
            <div class="word" style="text-align:center">
                <div class="moderation" style="margin: 67px 0; text-align: center; width: initial">
                Спасибо за вашу регистрацию на amigostone.<br>
                На указанный электронный адрес выслано письмо с ссылкой. <br>
                Перейдите, пожалуйста по этой ссылке для активации Вашего аккаунта.
{#                Текст успешной регистрации<br>#}
{#                Для активации профайла зайдите в вашу почту#}
                </div>
            </div>
        </div>
        <div class="br" style="padding-top: 20px"></div>

    </div>


{% endblock %}