.block_4 .wrapper_carousel {
    background:none;
    background-size: contain;
    width: 1000px;
    height: 400px;
	margin-top:-30px;
}
.block_4 .jcarousel {
    position: relative;
    overflow: hidden;
    margin:auto;
}
.block_4  .jcarousel ul {
    width: 20000em;
    position: relative;
    list-style: none;
    margin: 0;
    padding: 0;
}
.block_4  .jcarousel li {
    float: left;
    width: 250px;
  
}
.block_4  .wrapper_carousel_title{
    padding-top:50px;
}

.block_4  .clear{
    clear:both;
}
.block_4  .wrapper_carousel span{
    display: block;
    margin: 0 20px;
    color: #000;
    font-size: 20px;
    margin-top: -10px;
	margin-bottom:10px;
	text-align:center;
}
.block_4 figure{
    margin:0;
    padding:0;
    height: 400px;
    position: relative;
}
.block_4 figcaption{
    bottom: 0;
    text-align: justify;
    color: #000;
	margin-top:40px;
	margin-left:5px;
	width:239px;
}

.block_4  .jcarousel-pagination{
    width:100px;
    margin:auto;
}
.block_4  .jcarousel-pagination a{
    width:10px;
    height:10px;
    border-radius: 30px;
    background: #C1BBBB;
    display: block;
    text-align: center;
    text-indent: -9999px;
    float:left;
    margin: 30px 10px;
    -webkit-box-shadow: 0 0 2px #eee;
    -moz-box-shadow: 0 0 2px #eee;
    box-shadow: 0 0 0 5px #eee;
	
}
.block_4  .jcarousel-pagination a.active{
    background: #f7931e;
    color: #f7931e;
    opacity: 1;
    -webkit-box-shadow: 0 0 2px #f7931e;
    -moz-box-shadow: 0 0 2px #f7931e;
    box-shadow: 0 0 0 5px #eee;
}