{% extends "accounts/base.html" %}
{% load bootstrap3 thumbnail %}

{{% block breadcrumbs %}
    {{ block.super }}
    <div class="breadcrumb"><a href="{% url 'accounts:materials' %}">Каталог камней</a></div>
    {% for breadcrumb in breadcrumbs %}
        <div class="breadcrumb"><a href="{{ breadcrumb.private_url }}">{{ breadcrumb.title }}</a></div>
    {% endfor %}
{% endblock %}

{% block profile_content %}
        <div class="nav_name">
            <div class="Full_name">Каталог камней</div>
{#            <div class="plus">#}
{#                <div class="add-on"></div>#}
{#            </div>#}
        </div>

        {% if list.add_catalog %}
{#        <button type="button" class="btn btn-primary btn-lg" data-toggle="modal" data-target="#catalogModal">Добавить каталог</button>#}
            <a href="#add_catalog" class="jq_open_popup to_order" data-fancybox style="margin-right:25px;">Добавить каталог</a>
            {% include 'accounts/materials/forms/catalog_form.html' %}
        {% endif %}
        {% if list.add_material %}
            <a href="#add_material" class="jq_open_popup to_order" data-fancybox>Добавить камень</a>
            {% include 'accounts/materials/forms/material_form.html' %}
        {% endif %}
        <a href="#x" class="overlay" id="win2"></a>

        <div class="block_info flex-container" style="flex-wrap: wrap">
            {% if list.catalogs %}
                {% for catalog in list.catalogs %}
                    <div class="cataloge {{ catalog.get_css_class_for_actions }}">
                        {{ catalog.get_actions_html }}
                        <a href="{{ catalog.private_url }}">
                            {% thumbnail catalog.get_image 205x180 crop as thumb %}
                            <img src="{{ thumb.url }}" style="width:205px;" alt="{{ catalog.title }}">
                            <span class="figcaption1">{{ catalog.title }}</span>
                        </a>
                    </div>
                {% endfor %}
                {% include "common/pagination.html" with paginations=list.catalogs %}
            {% elif list.materials %}
                {% for material in list.materials %}
                    <div class="cataloge inline {{ material.get_css_class_for_actions }}">
                        {{ material.get_actions_html }}
                        <a href="{{ material.private_url }}">
                            {% thumbnail material.main_image 205x180 crop as thumb %}
                            <img src="{{ thumb.url }}" style="width:205px;" alt="{{ material.title }}">
                            <span class="figcaption1">{{ material.title }}</span>
                        </a>
                    </div>
                {% endfor %}
                {% include "common/pagination.html" with paginations=list.materials %}
            {% else %}
                <p>Каталог пуст</p>
            {% endif %}
        </div>


{% endblock %}