{% load sekizai_tags %}
{% addtoblock "css" %}
    <link rel="stylesheet" href="{{ STATIC_URL }}ion.checkradio/css/ion.checkRadio.css">
    <link rel="stylesheet" href="{{ STATIC_URL }}ion.checkradio/css/ion.checkRadio.html5.css">
{% endaddtoblock %}
{% addtoblock "js" %}
    <script src="{{ STATIC_URL }}ion.checkradio/js/ion.checkRadio.min.js" type="text/javascript"></script>
    <script src="{{ STATIC_URL }}js/libs/jquery.nicescroll.min.js" type="text/javascript"></script>
{% endaddtoblock %}
<script>
    $(document).ready(function() {
       $("input[type='radio'], input[type='checkbox']").ionCheckRadio();

       $(".nav_menu2").niceScroll({horizrailenabled: false});
    });
</script>
<div class="nav_menu2">
    <div class="">
        <p><i class="ico_title"></i>LIVE SEX SEARCH</p>
        <ul class="left-menu">
            <form action="{{ request.path }}" method="get">
                <!--{{ filter.form.as_p }}-->

                <li class="prices-display" style="padding-right: 10px;">
                    <span class="bold" style="">Возраст</span>
                    <input type="hidden" id="range_price" data-min="{{ min_age }}" data-max="{{ max_age }}" data-from="{{ request.GET.min_age|default:min_age }}" data-to="{{ request.GET.max_age|default:max_age }}" />
                    <div class="price-slider-info">
                        <span>От</span><input type="text" name="min_age" class="mright10 only-number" value="{{ request.GET.min_age|default:min_age }}">
                        <span>До</span><input type="text" name="max_age" class="only-number"  value="{{ request.GET.max_age|default:max_age }}">
                    </div>
                </li>

                <p>
                    <span class="bold" style="">Раса</span>
                    {% for item in race %}
                    <label for="id_race{{ forloop.counter }}"><input type="checkbox" id="id_race{{ forloop.counter }}" name="race" value="{{ item.code }}">{{ item.name }}</label>
                    {% endfor %}
                </p>

                <p>
                    <span class="bold" style="">Цвет волос</span>
                    {% for item in hair_color %}
                    <label for="id_hair_color{{ forloop.counter }}"><input type="checkbox" id="id_hair_color{{ forloop.counter }}" name="hair_color" value="{{ item.code }}">{{ item.name }}</label>
                    {% endfor %}
                </p>

                <p>
                    <span class="bold" style="">Размер груди</span>
                    {% for item in bust_size %}
                    <label for="id_bust_size{{ forloop.counter }}"><input type="checkbox" id="id_bust_size{{ forloop.counter }}" name="bust_size" value="{{ item.code }}">{{ item.name }}</label>
                    {% endfor %}
                </p>

                <p>
                    <span class="bold" style="">Интимная зона</span>
                    {% for item in public_area %}
                    <label for="id_public_area{{ forloop.counter }}"><input type="checkbox" id="id_public_area{{ forloop.counter }}" name="public_area" value="{{ item.code }}">{{ item.name }}</label>
                    {% endfor %}
                </p>


                <input type="submit" style="display: none"/>
            </form>
        </ul>
    </div>
</div>