<ul>
    {% for item in girls %}
    <li>{{ item }}</li>
    {% endfor %}
</ul>

<p>{{ json|safe }}</p>

<p>
<ul>
{% for item in gender %}
<li>{{ item }}</li>
{% endfor %}
</ul>
</p>

<p>
<ul>
{% for item in primary_language_key %}
<li>{{ item }}</li>
{% endfor %}
</ul>
</p>

<p>
<ul>
{% for item in secondary_language_key %}
<li>{{ item }}</li>
{% endfor %}
</ul>
</p>

<p>
<ul>
{% for item in weight %}
<li>{{ item }}</li>
{% endfor %}
</ul>
</p>

<p>
<ul>
{% for item in hair_color %}
<li>{{ item }}</li>
{% endfor %}
</ul>
</p>

<p>
<ul>
{% for item in pubic_hair %}
<li>{{ item }}</li>
{% endfor %}
</ul>
</p>

<p>
<ul>
{% for item in ethnicity %}
<li>{{ item }}</li>
{% endfor %}
</ul>
</p>