 {% extends 'base.html' %}
            {% block filter %}
            <div class="title">
                <h2><i class="ico_title"></i>LIVE SEX SEARCH</h2>
                <ul class="left-menu">
                    <form action="{{ request.path }}" method="get">
                        <!--{{ filter.form.as_p }}-->

                        <li class="prices-display" style="padding-right: 10px;">
                            <span class="bold" style="margin-bottom: 10px;display: inline-block;">Возраст</span>
                            <input type="hidden" id="range_price" data-min="{{ min_age }}" data-max="{{ max_age }}" data-from="{{ request.GET.min_age|default:min_age }}" data-to="{{ request.GET.max_age|default:max_age }}" />
                            <div class="price-slider-info">
                                <span>От</span><input type="text" name="min_age" class="mright10 only-number" value="{{ request.GET.min_age|default:min_age }}">
                                <span>До</span><input type="text" name="max_age" class="only-number"  value="{{ request.GET.max_age|default:max_age }}">
                            </div>
                        </li>
                        <input type="submit"/>
                    </form>
                </ul>
            </div>
            {% endblock %}

                {% block content %}
                    {% include 'blocks/navigation.html' %}
                    <div class="nav-right">
                        <div class="top-cams-section">
                            <div class="headline">
                                <h3>{{ models_count }} cams online <i class="ico_radius"></i> <span>that match your criteria.</span></h3>
                            </div>

                            <div id="item-search">
                                {% include 'models_content.html' %}
                            </div>

                            <div class="home-btn">
                                <a id="home-female-more" class="more-button" href="https://megacams.me/webcams/female/all">See
                                    all Megacams Camgirls</a>
                            </div>
                        </div>
                    </div>
                {% endblock %}

