<!DOCTYPE html>
<html lang="en">
<head>
    <meta content="text/html; charset=UTF-8" http-equiv="Content-Type">
    <meta name="viewport"
          content="width=device-width, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0, user-scalable=no">
    {% block meta %}
        <title>{{ request.rule.title }}</title>
        {% if request.rule.keywords %}
            <meta name="keywords" content="{{ request.rule.keywords }}">{% endif %}
        {% if request.rule.description %}
            <meta name="description" content="{{ request.rule.description }}">{% endif %}
    {% endblock meta %}
    <link rel="shortcut icon" href="favicon.ico">


    <meta name="author" content="Megacams.me">


    <link media="all" href="/static/index.css" type="text/css" rel="stylesheet">
</head>
<body class="">
<div class="container">
    <div class="topbar">
        <ul>
            <li class="title">Cams by site</li>
            <li><a href="all.html" indepth="true">Chaturbate</a></li>
            <li><a href="all_001.html" indepth="true">Bongacams</a></li>
            <li><a href="all_002.html" indepth="true">Livejasmin</a></li>
            <li><a href="all_003.html" indepth="true">Xcams</a></li>
            <li><a href="https://megacams.me/imlive/female/all">IMLive</a></li>
            <li><a href="https://megacams.me/xlovecam/female/all">Xlovecam</a></li>
            <li><a href="https://megacams.me/camgasm/female/all">Camgasm</a></li>
            <li><a href="https://megacams.me/camsoda/female/all">Camsoda</a></li>
            <li><a href="https://megacams.me/streamate/female/all">Streamate</a></li>
            <li></li>
            <li></li>
            <li></li>
            <li></li>
            <li><img style="vertical-align: text-top;" src="star-small.png"><a
                    href="https://megacams.me/facial-recognition">Try out our facial recognition tool to find your live
                sex doppelganger</a></li>
        </ul>
    </div>
    <div class="header header-f">
        <div class="header_hold">
            <a href="index.html" class="logo" indepth="true">Megacams</a>
            <div class="sort">
                <ul>
                    <li class="home  select"><a href="index.html" indepth="true"><i class="ico_home"></i></a></li>
                    <li class=""><a href="https://megacams.me/webcams/female/all"><i
                            class="ico_female"></i><span>female</span></a>
                    </li>
                    <li class=""><a href="https://megacams.me/webcams/male/all"><i
                            class="ico_male"></i><span>male</span></a></li>
                    <li class=""><a href="https://megacams.me/webcams/shemale/all"><i
                            class="ico_shemale"></i><span>shemale</span></a></li>
                    <li class=""><a target="_top" rel="nofollow"
                                    href="http://t.irtya.com/8g2iutprnk?offer_id=3785&amp;aff_id=127&amp;aff_sub=Megacams">Dating</a>
                    </li>
                </ul>
            </div>
            <div class="dropable">
                <button type="button" class="btn_filter"><i class="ico_ftr"></i></button>
                <div class="drop_sort">
<span class="btn_drop">
<strong><i class="ico_home"></i><span>Home</span></strong><i class="ico_arrow"></i>
</span>
                    <ul class="drop">
                        <li><a href="https://megacams.me/webcams/female/all"><i
                                class="ico_female"></i><span>female</span></a></li>
                        <li><a href="https://megacams.me/webcams/male/all"><i class="ico_male"></i><span>male</span></a>
                        </li>
                        <li><a href="https://megacams.me/webcams/shemale/all"><i
                                class="ico_shemale"></i><span>shemale</span></a></li>
                    </ul>
                </div>
            </div>
        </div>
        <div class="holder">
            <div class="counter_block">
                <div class="clearfix">
                    <div class="counter-wrapper">
                        <ul class="flip-counter default" id="myCounter">
                            <li class="digit animate" id="myCounter-digit-a0">
                                <div class="line"></div>
                                <span class="front">8</span><span class="back">7</span>
                                <div class="hinge-wrap">
                                    <div class="hinge"><span class="front">7</span><span class="back">8</span></div>
                                </div>
                            </li>
                            <li class="digit" id="myCounter-digit-a1">
                                <div class="line"></div>
                                <span class="front">6</span><span class="back">6</span>
                                <div class="hinge-wrap">
                                    <div class="hinge"><span class="front">6</span><span class="back">6</span></div>
                                </div>
                            </li>
                            <li class="digit" id="myCounter-digit-a2">
                                <div class="line"></div>
                                <span class="front">4</span><span class="back">4</span>
                                <div class="hinge-wrap">
                                    <div class="hinge"><span class="front">4</span><span class="back">4</span></div>
                                </div>
                            </li>
                            <li class="digit-delimiter">,</li>
                            <li class="digit" id="myCounter-digit-a3">
                                <div class="line"></div>
                                <span class="front">7</span><span class="back">7</span>
                                <div class="hinge-wrap">
                                    <div class="hinge"><span class="front">7</span><span class="back">7</span></div>
                                </div>
                            </li>
                        </ul>
                    </div>
                    <span class="text">MODELS ONLINE !</span>
                </div>
                <em>THAT'S A LOT, BUT WE ARE MEGA!</em>
            </div>
            <div class="search">
                <form action="https://megacams.me/cam/search">
                    <button type="submit" class="btn"><i class="ico_search"></i></button>
                    <div class="input">
                        <input name="modelname" class="field" placeholder="Search model..." value="" type="text">
                    </div>
                </form>
            </div>
        </div>
    </div>
    <div class="main">
        <div class="overlay"></div>
        <div class="sidebar">
            <div class="title">
                <h2><i class="ico_title"></i>LIVE SEX SEARCH</h2>
                <form action="" method="get">
                    {{ filter.form.as_p }}
                    <input type="submit"/>
                </form>
            </div>
            <div class="accordion">
                <div class="box">
                    <div class="select_item">
                        <em><i class="ico_race_head"></i></em>
                        <span>race</span>
                        <i class="ico_arrow"></i>
                    </div>
                    <ul class="block_inner">
                        <li><a href="https://megacams.me/webcams/female/ebony"><span>ebony</span> <i
                                class="ico_add"></i></a></li>
                        <li><a href="https://megacams.me/webcams/female/arabic"><span>arabic</span> <i
                                class="ico_add"></i></a></li>
                        <li><a href="https://megacams.me/webcams/female/asian"><span>asian</span> <i
                                class="ico_add"></i></a></li>
                        <li><a href="https://megacams.me/webcams/female/indian"><span>indian</span> <i
                                class="ico_add"></i></a></li>
                        <li><a href="https://megacams.me/webcams/female/latina"><span>latina</span> <i
                                class="ico_add"></i></a></li>
                        <li><a href="https://megacams.me/webcams/female/russian"><span>Russian</span> <i
                                class="ico_add"></i></a></li>
                        <li><a href="https://megacams.me/webcams/female/white"><span>white</span> <i
                                class="ico_add"></i></a></li>
                    </ul>
                </div>
                <div class="box">
                    <div class="select_item">
                        <em><i class="ico_race_age"></i></em>
                        <span>age</span>
                        <i class="ico_arrow"></i>
                    </div>
                    <ul class="block_inner" style="display: none;">
                        <li><a href="https://megacams.me/webcams/female/teen-18-20"><span>teen 18 - 20</span> <i
                                class="ico_add"></i></a></li>
                        <li><a href="https://megacams.me/webcams/female/adult-21-29"><span>Adult 21 - 29</span> <i
                                class="ico_add"></i></a></li>
                        <li><a href="https://megacams.me/webcams/female/milf-30"><span>milf 30+</span> <i
                                class="ico_add"></i></a></li>
                        <li><a href="https://megacams.me/webcams/female/mature-40"><span>mature 40+</span> <i
                                class="ico_add"></i></a></li>
                        <li><a href="https://megacams.me/webcams/female/granny-55"><span>granny 55+</span> <i
                                class="ico_add"></i></a></li>
                    </ul>
                </div>
                <div class="box">
                    <div class="select_item">
                        <em><i class="ico_race_hair"></i></em>
                        <span>hair</span>
                        <i class="ico_arrow"></i>
                    </div>
                    <ul class="block_inner">
                        <li><a href="https://megacams.me/webcams/female/blonde"><span>blonde</span> <i
                                class="ico_add"></i></a></li>
                        <li><a href="https://megacams.me/webcams/female/brunette"><span>brunette</span> <i
                                class="ico_add"></i></a></li>
                        <li><a href="https://megacams.me/webcams/female/redhead"><span>redhead</span> <i
                                class="ico_add"></i></a></li>
                        <li><a href="https://megacams.me/webcams/female/dark"><span>dark</span> <i class="ico_add"></i></a>
                        </li>
                        <li><a href="https://megacams.me/webcams/female/gray"><span>Gray</span> <i class="ico_add"></i></a>
                        </li>
                    </ul>
                </div>
                <div class="box">
                    <div class="select_item">
                        <em><i class="ico_race_bust"></i></em>
                        <span>bust</span>
                        <i class="ico_arrow"></i>
                    </div>
                    <ul class="block_inner">
                        <li><a href="https://megacams.me/webcams/female/small-tits"><span>small tits</span> <i
                                class="ico_add"></i></a></li>
                        <li><a href="https://megacams.me/webcams/female/average-bust"><span>average bust</span> <i
                                class="ico_add"></i></a></li>
                        <li><a href="https://megacams.me/webcams/female/big-tits"><span>big tits</span> <i
                                class="ico_add"></i></a></li>
                    </ul>
                </div>
                <div class="box">
                    <div class="select_item">
                        <em><i class="ico_race_pubic"></i></em>
                        <span>pubic area</span>
                        <i class="ico_arrow"></i>
                    </div>
                    <ul class="block_inner">
                        <li><a href="https://megacams.me/webcams/female/shaved-pussy"><span>shaved pussy</span> <i
                                class="ico_add"></i></a></li>
                        <li><a href="https://megacams.me/webcams/female/trimmed-pussy"><span>Trimmed pussy</span> <i
                                class="ico_add"></i></a></li>
                        <li><a href="https://megacams.me/webcams/female/hairy-pussy"><span>hairy Pussy</span> <i
                                class="ico_add"></i></a></li>
                        <li><a href="https://megacams.me/webcams/female/pierced-pussy"><span>Pierced Pussy</span> <i
                                class="ico_add"></i></a></li>
                    </ul>
                </div>
                <div class="box">
                    <div class="select_item">
                        <em><i class="ico_race_figure"></i></em>
                        <span>figure</span>
                        <i class="ico_arrow"></i>
                    </div>
                    <ul class="block_inner">
                        <li><a href="https://megacams.me/webcams/female/slim"><span>slim</span> <i class="ico_add"></i></a>
                        </li>
                        <li><a href="https://megacams.me/webcams/female/average-figure"><span>average figure</span> <i
                                class="ico_add"></i></a></li>
                        <li><a href="https://megacams.me/webcams/female/curvy"><span>curvy</span> <i
                                class="ico_add"></i></a></li>
                        <li><a href="https://megacams.me/webcams/female/bbw"><span>BBW</span> <i
                                class="ico_add"></i></a></li>
                    </ul>
                </div>
                <div class="box">
                    <div class="select_item">
                        <em><i class="ico_race_extra"></i></em>
                        <span>extra</span>
                        <i class="ico_arrow"></i>
                    </div>
                    <ul class="block_inner">
                        <li><a href="https://megacams.me/webcams/female/pornstar"><span>pornstar</span> <i
                                class="ico_add"></i></a></li>
                        <li><a href="https://megacams.me/webcams/female/bdsm"><span>BDSM</span> <i class="ico_add"></i></a>
                        </li>
                        <li><a href="https://megacams.me/webcams/female/alternative"><span>alternative</span> <i
                                class="ico_add"></i></a></li>
                        <li><a href="https://megacams.me/webcams/female/squirting"><span>squirting</span> <i
                                class="ico_add"></i></a></li>
                        <li><a href="https://megacams.me/webcams/female/feet-fetish"><span>feet fetish</span> <i
                                class="ico_add"></i></a></li>
                        <li><a href="https://megacams.me/webcams/female/pregnant"><span>pregnant</span> <i
                                class="ico_add"></i></a></li>
                        <li><a href="https://megacams.me/webcams/female/smoking"><span>smoking</span> <i
                                class="ico_add"></i></a></li>
                        <li><a href="https://megacams.me/webcams/female/tattoos"><span>Tattoos</span> <i
                                class="ico_add"></i></a></li>
                        <li><a href="https://megacams.me/webcams/female/other"><span>Other</span> <i
                                class="ico_add"></i></a></li>
                    </ul>
                </div>
                <div class="box">
                    <div class="select_item">
                        <em><i class="ico_race_couple"></i></em>
                        <span>couple or group</span>
                        <i class="ico_arrow"></i>
                    </div>
                    <ul class="block_inner">
                        <li><a href="https://megacams.me/webcams/female/couple"><span>couple</span> <i
                                class="ico_add"></i></a></li>
                        <li><a href="https://megacams.me/webcams/female/group-sex"><span>group sex</span> <i
                                class="ico_add"></i></a></li>
                        <li><a href="https://megacams.me/webcams/female/female-couple"><span>female couple</span> <i
                                class="ico_add"></i></a></li>
                        <li><a href="https://megacams.me/webcams/female/female-group"><span>female group</span> <i
                                class="ico_add"></i></a></li>
                    </ul>
                </div>
            </div>
            <div class="title">
                <h2><i class="ico_title"></i>Our Blog</h2>
            </div>
            <div class="latest-news">
                <ul>
                    <li><a href="https://megacams.me/blog/meet-monsternancy08-an-asian-camgirl-with-a-twist/"
                           title="Meet Monsternancy08, an asian camgirl with a twist"><img
                            src="monsternancy08_2-150x150.jpg" class="attachment-thumbnail size-thumbnail wp-post-image"
                            alt=""
                            srcset="https://megacams.me/blog/wp-content/uploads/2017/03/monsternancy08_2-150x150.jpg 150w, https://megacams.me/blog/wp-content/uploads/2017/03/monsternancy08_2-160x160.jpg 160w, https://megacams.me/blog/wp-content/uploads/2017/03/monsternancy08_2-320x320.jpg 320w"
                            sizes="(max-width: 150px) 100vw, 150px" width="150" height="150"><br>Meet Monsternancy08, an
                        asian camgirl with a twist</a></li>
                    <li><a href="https://megacams.me/blog/will-she-be-the-next-mia-khalifa/"
                           title="Will she be the next Mia Khalifa?"><img src="3-250-150x150.jpg"
                                                                          class="attachment-thumbnail size-thumbnail wp-post-image"
                                                                          alt="Mia Khalifa Tits"
                                                                          srcset="https://megacams.me/blog/wp-content/uploads/2017/03/3-250-150x150.jpg 150w, https://megacams.me/blog/wp-content/uploads/2017/03/3-250-160x160.jpg 160w, https://megacams.me/blog/wp-content/uploads/2017/03/3-250-320x320.jpg 320w"
                                                                          sizes="(max-width: 150px) 100vw, 150px"
                                                                          width="150" height="150"><br>Will she be the
                        next Mia Khalifa?</a></li>
                    <li><a href="https://megacams.me/blog/twitch-porn/" title="Twitch Porn"><img
                            src="twitch-says-no-shirt-no-service-150x150.jpg"
                            class="attachment-thumbnail size-thumbnail wp-post-image" alt=""
                            srcset="https://megacams.me/blog/wp-content/uploads/2017/03/twitch-says-no-shirt-no-service-150x150.jpg 150w, https://megacams.me/blog/wp-content/uploads/2017/03/twitch-says-no-shirt-no-service-160x160.jpg 160w, https://megacams.me/blog/wp-content/uploads/2017/03/twitch-says-no-shirt-no-service-320x320.jpg 320w"
                            sizes="(max-width: 150px) 100vw, 150px" width="150" height="150"><br>Twitch Porn</a></li>
                </ul>
            </div>
        </div>
        <div class="contain">
            <div class="heading">
                <h1>Welcome to Megacams! The biggest cam &amp; free cams sex site on the web!</h1>
                <p>Megacams let's you find your type of cam performer easily! We have cam performers from a lot of
                    camsex platforms. All these performers combined makes us the biggest live cam site on the internet
                    (thousands of webcams online)! All our webcam models are checked &amp; validated by hand and
                    assigned categories manually. This way we know that the niches that apply to a cam performer are
                    correct! Quality is everything! With all these niches assigned to the webcamgirls (and also male
                    &amp; shemale cam performers) you can easily find your type of livesex on megacams. We got <a
                            href="https://megacams.me/webcams/female/all">Females</a>, <a
                            href="https://megacams.me/webcams/male/all">Males</a> and <a
                            href="https://megacams.me/webcams/shemale/all">Shemales</a> cam sections!
                    Go ahead and look around on Megacams to find the performer you like, and have steamy hot live sex.
                    If you like us, don't forget to share us with your friend or social media, we really appreciate
                    that!</p>
            </div>
            <div class="content">
                <div class="top-cams-section">
                    <div class="headline">
                        <h3>{{ models_count }} cams online <i class="ico_radius"></i> <span>that match your criteria.</span></h3>
                    </div>

                    <div id="item-search">
                        {% include 'models_content.html' %}
                    </div>

                    <div class="home-btn">
                        <a id="home-female-more" class="more-button" href="https://megacams.me/webcams/female/all">See
                            all Megacams Camgirls</a>
                    </div>
                </div>
            </div>
            <div class="heading info-text">
                <div>
                    <h2>What is Megacams?</h2>
                    <p>
                        Megacams is the first free &amp; private cams search engine on the internet.<br><br>
                        <b>What is a free &amp; private cams search engine?</b>
                        A live sex search engine allows you to search for your model of choice. With Megacams you have
                        the ability to search by multiple filters like:</p>
                    <ul class="text-list">
                        <li>Race</li>
                        <li>Hair color</li>
                        <li>Age</li>
                        <li>Figure</li>
                        <li>Bust size</li>
                        <li>and a lot more</li>
                    </ul>
                    <p>Because of this filtering you have much higher chance of finding a model you are blown away by.
                    </p>
                </div>
                <div>
                    <h2>What are free cams?</h2>
                    <p>Cams are the chatrooms were models allow you to see them in real time. The models installed a
                        webcam on their computer so that you can see them live. This video is instantly (with no delay)
                        broadcasted to you. The word free means that the girls will show off their nude body and even
                        masturbate for you without charging you anything.</p>
                </div>
                <div>
                    <h2>What is live sex?</h2>
                    <p>This is the definition of playing together on webcam. You can watch the model and the model can
                        see you (if you have a webcam installed). Live sex is far more intense than regular porn videos
                        that you will find on the web. This because there is a human interaction between you and the
                        model.</p>
                </div>
                <div>
                    <h2>What is Cam2Cam?</h2>
                    <p>This means when you are broadcasting yourself through a webcam to the model and the model shows
                        herself to you on webcam. This is a much more real life experience than chatting with a keyboard
                        in a chatroom. Only private cam sites allow you to broadcast yourself to the cam model.</p>
                </div>
                <div>
                    <h2>Why do we need this?</h2>
                    <p>People who already do cam sex on a daily basis will assure you that live sex only can be done
                        with a model that makes you crazy. Because cam sex is this intense, you don’t want to do it with
                        someone you don’t like or who doesn’t turn you on. Finding a model on some of the big cam sites
                        like Chaturbate, Livejasmin, Bongacams, IMLive, … can be a real pain in the ass because they
                        only let you search by model’s name it’s hard to find the model you really like. As a result, we
                        developed a new solution that is called Megacams.</p>
                </div>
                <div>
                    <h2>Can I work as a model on Megacams?</h2>
                    <p>Megacams does not have webcam models of it’s own. We include models from various big cam sites
                        like IMLive, Chaturbate, Bongacams and Livejasmin. If you do cam for one of these sites you are
                        automatically included on Megacams. If you are looking to start out in the adult cam industry,
                        take a look at <a href="https://megacams.me/become-webcam-model">this page</a>. Also, you can
                        become a verified webcam model on our site by contacting us with this comma, separated, list of
                        requirements, which provides this comma, separated, list, of benefits. (just a suggestion, don’t
                        have to add if you don’t want to)</p>
                </div>
                <div>
                    <h2>How to use the site?</h2>
                    <p>Megacams is designed to be user friendly, so normally it should be natural to work with our site.
                        In case this doesn’t work out well here are the steps that you will need to find the cam girls
                        or boy of your dreams.</p>
                    <ol class="text-list">
                        <li>Select the gender of choice on top of our homepage. This can be Female, Male (gay) or
                            Transsexual (Shemale). If you have selected the home page icon, you will be searching for
                            girls by default.
                        </li>
                        <li>Select the niches on the left hand side to match the model you would like to see. These can
                            be body types but we also have the ability to search on extra data like
                            <ul>
                                <li>Pregnant models</li>
                                <li>Fetish models (BDSM, Femdom, …)</li>
                                <li>Models that squirt (Female orgasm)</li>
                                <li>Feet fetish models (Feet and toe playing / oiling / licking)</li>
                            </ul>
                            <i>You can combine multiple filters at once. This drills down the selection even more and
                                you will get more specific cam models every time. If you have filter too much, you can
                                always deselect the filter by clicking on it again (turns red). Once you clicked the
                                filter will be deleted and you previous cam sex models will appear.</i>
                        </li>
                        <li>Now you have a selection of camgirls (other gender models) in the main area of Megacams. You
                            can click on the model with the thumbnail you like to go to her live chat room.
                        </li>
                        <li>Congrats, you are having live sex with your favorite free cam model!</li>
                    </ol>
                </div>
                <div>
                    <h2>What is the information on the thumbnails of the models?</h2>
                    <p>The information on the thumbnails is pretty simple to understand. Let’s break down the
                        information for you:</p>
                    <ul class="text-list">
                        <li>First of all you have the nickname of the cam model on the left hand side.</li>
                        <li>After the eye icon you can see a number. This number represents the number of people viewing
                            this cam girl (live data).
                        </li>
                        <li>Back on the left below the nickname you’ll see a list of assigned niches to the camgirl. You
                            can also click on the niche (on the thumbnail) to apply this filter to your search results
                            instantly.
                        </li>
                        <li>Inside the circle you can see for how long this camgirl has been camming. Average sex shows
                            range from 30 minutes all the way up to 3 hours.
                        </li>
                        <li>Next to the person icon you’ll see the age of this camgirl (all models are verified and are
                            certainly 18+).
                        </li>
                    </ul>
                    <p>Hope this explains how to understand the data on the thumbnails.
                    </p>
                </div>
                <div>
                    <h2>How are these niches assigned to the models?</h2>
                    <p>You’ll see the most camgirls and camboys have niches assigned. Assigning these niches is done
                        24/7 by an internal team at Megacams. Because we want our free live sex search engine to be as
                        accurate as possible, we need to do it by hand. Every free cam stream is watched manually by a
                        person and assigns the correct niches to the model. If you see any niches that are incorrect,
                        you can always <a href="https://megacams.me/contact">contact us</a>. This way we can make the
                        needed changes.</p>
                </div>
                <div>
                    <h2>What cam sites are currently supported?</h2>
                    <p>
                        We have a few cam sites that we included into our cam sex search engine.</p>
                    <ul class="text-list">
                        <li><a href="all.html" indepth="true">Chaturbate</a>: Largest US webcam sex site. The offer free
                            cam chat.
                        </li>
                        <li><a href="all_001.html" indepth="true">Bongacams</a>: Bongacams is growing at rapid speed and
                            is currently the biggest free cams site of europe.
                        </li>
                        <li><a href="all_002.html" indepth="true">Livejasmin</a>: Everyone knows this site. You probably
                            had thousands of popups already showing a live model of livejasmin. Livejasmin offers
                            premium private chat’s (means you have to pay to get intense).
                        </li>
                        <li><a href="all_003.html" indepth="true">Xcams</a>: Well-known in dutch countries like Belgium
                            and the netherlands. They offer premium cams as well (mostly dutch models).
                        </li>
                        <li><a href="https://megacams.me/imlive/female/all">IMLive</a>: They have been around since 1996
                            and are still going sting. IMLive also uses the premium private sex chat model.
                        </li>
                        <li><a href="https://megacams.me/xlovecam/female/all">Xlovecam</a>: Crowned to the best mobile
                            sex chat experience. They are known because they have a crystal clear HD stream. They also
                            have lot’s of hot babes on their website.
                        </li>
                    </ul>
                    <p>So it’s very easy. You have private and free camsites. Both have their advantages, so please test
                        all of them to find out what works best for you. You’ll be probably be hooked to one model on
                        one site (sometimes models use multiple camsites). So remember if you want to naked chats and
                        don’t pay anything use Chaturbate or Bongacams. If you want to get more intense and pay for the
                        girl then you need to use livejasmin, Xcams, IMLive or XLovecam.
                    </p>
                </div>
                <div>
                    <h2>who's prohibited from using Megacams?</h2>
                    <p>We have a strict adult only policy. This means that you will need to be 18+ in order to access
                        our website. So only adult cams for adult people. Besides the age restriction everyone is
                        welcome on Megacams to enjoy the live chat rooms.</p>
                </div>
                <div>
                    <h2>Helpful tips for Using Megacams</h2>
                    <p>
                        There are some good tips that will help you improve the experience on Megacams</p>
                    <ul class="text-list">
                        <li>Read the reviews / comments of cam models on the model pages (write one yourself if there is
                            not one written yet)
                        </li>
                        <li>Bookmark the models you like: This will be a shortcut when you want to come back.</li>
                        <li>Follow us on twitter: Follow us to get the latest news &amp; updates about what happens in
                            cybersex space.
                        </li>
                    </ul>
                </div>
            </div>
            <label class="last-updated">Last updated: May 3rd, 2017</label>

        </div>
    </div>
    <div class="footer">
        <div class="container_holder">
            <div class="col">
            </div>
            <div class="col">
                <div class="title">
                    <h3>Free Cams</h3>
                </div>
                <ul class="list">
                    <li><a href="https://megacams.me/webcams/female/all"><span>Female Cams</span></a></li>
                    <li><a href="https://megacams.me/webcams/male/all"><span>Male Cams</span></a></li>
                    <li><a href="https://megacams.me/webcams/shemale/all"><span>Transsexual Cams</span></a></li>
                    <li><a href="https://megacams.me/country-index/female"><span>Cams by country</span></a></li>
                    <li><a href="https://megacams.me/facial-recognition"><span>Facial recognition tool</span></a></li>
                </ul>
            </div>
            <div class="col">
                <div class="title">
                    <h3>More About MegaCams.me</h3>
                </div>
                <ul class="list">
                    <li><a href="http://megacams.me/get-verified"><span>Get verified on Megacams</span></a></li>
                    <li><a href="http://megacams.me/login"><span>Verified models login</span></a></li>
                    <li><a href="http://megacams.me/become-webcam-model"><span>Become a webcam model</span></a></li>
                    <li><a href="http://megacams.me/faq"><span>Frequently asked questions</span> </a></li>
                    <li><a href="https://megacams.me/blog"><span>Megacams latest news &amp; blog</span></a></li>
                </ul>
            </div>
            <div class="col item_product">
                <div class="title">
                    <h3>Current supported webcam sites</h3>
                </div>
                <div class="container_product cam-network-logos">
                    <div class="item"><a href="all.html" indepth="true"><img src="chaturbate.png"
                                                                             class="cam-network-logo"
                                                                             alt="Chaturbate logo"></a></div>
                    <div class="item"><a href="all_003.html" indepth="true"><img src="logo_xcams.png"
                                                                                 class="cam-network-logo"
                                                                                 alt="Xcams logo"></a></div>
                    <div class="item"><a href="all_001.html" indepth="true"><img src="bongacams.png"
                                                                                 class="cam-network-logo"
                                                                                 alt="Bongacams logo"></a></div>
                    <div class="item"><a href="https://megacams.me/xlovecam/female/all"><img src="xlovecam.png"
                                                                                             class="cam-network-logo"
                                                                                             alt="xlovecam logo"></a>
                    </div>
                    <div class="item"><a href="all_002.html" indepth="true"><img src="livejasmin.png"
                                                                                 class="cam-network-logo"
                                                                                 alt="Livejasmin logo"></a></div>
                    <div class="item"><a href="https://megacams.me/imlive/female/all"><img src="imlive_logo.png"
                                                                                           class="cam-network-logo"
                                                                                           alt="IMlive logo"></a></div>
                    <div class="item"><a href="https://megacams.me/camgasm/female/all"><img src="camgasm.png"
                                                                                            class="cam-network-logo"
                                                                                            alt="Camgasm logo"></a>
                    </div>
                    <div class="item"><a href="https://megacams.me/camsoda/female/all"><img src="camsoda_logo.png"
                                                                                            class="cam-network-logo"
                                                                                            alt="Camsoda logo"></a>
                    </div>
                    <div class="item"><a href="https://megacams.me/streamate/female/all"><img src="streamate-logo.png"
                                                                                              class="cam-network-logo"
                                                                                              alt="Streamate logo"></a>
                    </div>
                </div>
            </div>
        </div>
        <div class="container_logo">
            <strong class="logo_footer"><a href="#">Megacams.me</a></strong>
            <ul class="social">
                <li><a target="_top" href="https://twitter.com/megacamspromo"><i class="ico_tw"></i></a></li>
            </ul>
            <div class="copy">
                <p>Copyright © Megacams.me 2013 - 2017</p>
                <p><a href="https://megacams.me/contact">Contact Megacams</a> - <a href="https://megacams.me/dmca">DMCA
                    Complaint</a> - <a href="https://megacams.me/privacy-policy">Privacy Policy</a> - <a
                        href="https://megacams.me/terms-conditions">Terms and conditions</a></p>
            </div>
        </div>
        <div class="warning-footer">
            To use Megacams.me you must be at least 18 years of age. if you are not 18+, please <a
                href="http://google.com/">exit</a>.<br>
            Megacams.me disclaims responsibility for the actions of any visitors of this website.<br>
            Megacams.me does not claim ownership or endorse any of the content that is broadcast using this website.<br>
            <p></p>
        </div>
    </div>
</div>
<input class="cams-counter-init" id="cams-counter-init" value="6997" type="hidden">


<w-div id="gwkave4" class="g8lgvli g-sxupsx g-kgqbc g-med5n2 grwthyw g-1uyu">
    <div class="g-ooquqz g-1uyu"><a class="g-3wqr9k gnjtal6 gz13o68  g6u66uf  g76bwly" data-tag="twitter"
                                    data-track="action" target="_top"
                                    href="https://twitter.com/intent/tweet?text=Megacams%3A%20Live%20Sex%20%26%20Free%20Cams%20Search&amp;url=https%3A%2F%2Fmegacams.me%2F"
                                    style=""> <span class="g4t4ua6 gotebmf"></span> <span class="g-1e52do ">Share on Twitter</span>
    </a>
        <div class="g-gjy80u"></div>
        <a class="g-3wqr9k gnjtal6 gz13o68  g6u66uf  glm5gve" data-tag="facebook" data-track="action" target="_top"
           href="http://www.facebook.com/sharer.php?u=https%3A%2F%2Fmegacams.me%2F" style=""> <span
                class="g4t4ua6 gpsdkom"></span> <span class="g-1e52do ">Share on Facebook</span> </a>
        <div class="g-gjy80u"></div>
        <a class="g-3wqr9k gnjtal6 gz13o68  g6u66uf  g4m1mm6" data-tag="tumblr" data-track="action" target="_top"
           href="http://www.tumblr.com/share?v=3&amp;u=https%3A%2F%2Fmegacams.me%2F&amp;t=Megacams%3A%20Live%20Sex%20%26%20Free%20Cams%20Search&amp;s=Search%20your%20type%20of%20cam%20sex%20model%20on%20various%20sites%20at%20once.%20With%20the%20camgirl%20of%20your%20taste%2C%20you%20can%20easily%20start%20a%20sex%20show%20instantly%20and%20for%20free%2C%20just%20try%20it."
           style=""> <span class="g4t4ua6 gl4b8st"></span> <span class="g-1e52do ">Share on Tumblr</span> </a></div>
</w-div>
<script
  src="https://code.jquery.com/jquery-2.2.4.min.js"
  integrity="sha256-BbhdlvQf/xTY9gja0Dq3HiwQF8LaCRTXxZKRutelT44="
  crossorigin="anonymous"></script>
<script src="/static/js/jquery.pjax.js"></script>
<script src="/static/js/catalogue.js"></script>
</body>
</html>
