<div class="thumbs">

    {% for item in object_list %}
        <div class="th">
            <a id="768331527" class="thumblink" href="{{ item.profile_image }}">
                <img src="{{ item.profile_image }}" alt="assessence" width="225"
                     height="175">
                <img class="source_logo bongalogo" src="{{ item.cam_service.image.url }}">
                <i class="play">ENTER</i>
            </a>
            <div class="tools">
                <div class="top-info-thumb">
                    <a href="https://megacams.me/cam/assessence/768331527">
                        <span>
                        {{ item.display_name }}
                        </span>
                    </a>
                    <span class="view">
                        <i class="ico_view"></i>
                        <em>{{ item.views_count }}</em>
                    </span>
                </div>
                <div class="desc">
                    <div class="tags">
                        <a href="https://megacams.me/webcams/female/teen-18-20">Teen 18 - 20</a>
                        <a href="https://megacams.me/webcams/female/brunette">Brunette</a>
                        <a href="https://megacams.me/webcams/female/hairy-pussy">Hairy Pussy</a>
                        <a href="https://megacams.me/webcams/female/redhead">Redhead</a>
                        <a href="https://megacams.me/webcams/female/white">White</a>
                        <a href="https://megacams.me/webcams/female/other">Other</a>
                        <a href="https://megacams.me/webcams/female/adult-21-29">Adult 21 - 29</a>
                    </div>
                </div>
                <div class="thumb-languages">
                    <p><img src="en.png"></p>
                </div>
                <div class="rate">
                    <div class="circle" data-circle="8">
                        <canvas width="72" height="72"></canvas>
                        <strong>8 min</strong><span>online</span></div>
                    <div class="amount">
                        <i class="ico_amount_woman"></i>
                        <span>19</span>
                    </div>
                </div>
            </div>
        </div>
    {% endfor %}
</div>
{% include "blocks/pagination.html" %}