{% extends 'base.html' %}
{% load sekizai_tags %}

{% block breadcrumbs %}
    {{ block.super }}
    <div class="breadcrumb"><a href="">{{ object.display_name }}</a></div>
{% endblock %}

{% block content %}
    {% addtoblock 'js' %}
        <script src="{{ STATIC_URL }}js/models.js" type="text/javascript"></script>
    {% endaddtoblock %}
    <div class="wrapper">
        <div class="block_info">
            <div class="nav_name">
                <div class="Full_name">Модель {{ object.display_name }}</div>
            </div>
            <div class="inside">

{#                {% thumbnail company.get_avatar 250x250 crop as thumb %}#}
                <img src="{{ object.profile_image }}" alt="{{ object.display_name }}">

                <div class="contacts_wrap">
                    <p><span class="title_name">Имя:</span> {{ object.display_name }}</p>
                    <p><span class="title_name">Сервис:</span> {{ object.cam_service.name }}</p>
                    <p><span class="title_name">В сети:</span> Online </p>

                    <!-- Go to www.addthis.com/dashboard to customize your tools --> <div class="addthis_inline_share_toolbox"></div>

                </div>
                <div class="rating_wrap">
                    {% if request.user.is_authenticated %}
                    <form class="add_to_favourites" action="{% if not is_favourite %}{% url 'add-to-favorites' 'add' %}{% else %}{% url 'add-to-favorites' 'remove' %}{% endif %}" method="post">
                        {% csrf_token %}
                        <input type="hidden" name="model" value="{{ object.name }}">
                        <button type="submit" class="comments_num text-left" style="cursor: pointer">{% if not is_favourite %}Добавить модель в избраные{% else %}Удалить модель из избранного{% endif %}</button>
                    </form>
                    {% else %}
                        <a class="comments_num" href="{% url 'authorization:enter' %}">Добавить модель в избраные</a>
                    {% endif %}

                    <a class="comments_num" href="#snapshots">Снимки камеры</a>

                    <div class="go_directory" style="margin-top:30px"><a href="{{ object.chat_url }}">Смотреть</a></div>
                </div>
                <div class="rating_wrap">
                    <p class="rating">
                        Рейтинг: {% if company.position %}{{ company.position }}{% else %}{{ producers_count }}{% endif %}
                        <span class="rating_from">/</span> <span class="rating_all">{{ producers_count }}</span>
                    </p>

                    <div class="shadow_diamond">
						<div class="rating_diamond" style="width: {% widthratio company.profilegrades.get_gems 5 100 %}%" ></div>
					</div>
                    <h3>Отзывы</h3>
                    <div class="shadow_star">
						<div class="rating_star" style="width: {{ company.ave_rate }}%" ></div>
					</div>
                    <div class="orders_num"></div>
                    <div class="sum">{{ company.orders_finished }}</div>

                    <a class="comments_num" href="#button_for_look_recalls" >{{ testimonials.count }} {{ testimonials.ave_rate }} отзывов</a><br>
                    <span class="sum_views_by_users">{{ object.get_redis_key|default:0 }} просмотров</span>
                </div>

            </div>
            <div class="nav">
                <div class="about-me"> Описание</div>
            </div>
            <div class="description-text">
                <div>
                    <div class="profile-column">
                        <div class="profile-item">
                            <h3>Nickname</h3>
                            <label>EBONY-HUGES</label>
                        </div>

                        <div class="profile-item">
                            <h3>Age</h3>
                            <label>33 (<a href="/models/female/milf+30%2B">More</a>)</label>
                        </div>
                        <div class="profile-item">
                            <h3>Race</h3>
                            <label>Ebony (<a href="/models/female/ebony">More</a>)</label>
                        </div>
                        <div class="profile-item">
                            <h3>Hair color</h3>
                            <label>Brunette (<a href="/models/female/brunette">More</a>)</label>
                        </div>
                        <div class="profile-item">
                            <h3>Bust size</h3>
                            <label>Not Available </label>
                        </div>
                        <div class="profile-item">
                            <h3>Figure</h3>
                            <label>Not Available </label>
                        </div>
                        <div class="profile-item">
                            <h3>Pubic area</h3>
                            <label>Shaved pussy (<a href="/models/female/shaved+pussy">More</a>)</label>
                        </div>
                        <div class="profile-item">
                            <h3>Extra</h3>
                            <label>Other, </label>
                        </div>

                        <div class="profile-item">
                            <h3>This model speaks</h3>
                            <label style="margin-top: -10px;"><img src="/static/images/flags/ES.png"><img
                                    src="/static/images/flags/EN.png"></label>
                        </div>

                        <div class="profile-item">
                            <h3>Last live show</h3>
                            <label>Currently live</label>
                        </div>
                    </div>
                </div>
            </div>

            <div class="nav" id="snapshots">
                <div class="about-me"> Снимки камеры</div>
            </div>
            <div class="description-text">
                <ul style="list-style-type: none; margin: 0">
                    {% for item in object.camsnapshot_set.all %}
                    <li style="display: inline-block;"><img src="{{ item.snapshot_url }}"></li>
                    {% endfor %}
                </ul>
            </div>

            <div class="nav" id="snapshots">
                <div class="about-me"> Отзывы</div>
            </div>
            <div class="description-text">
                Пока нет ни одного отзыва
            </div>

            <script>
            $(function () {
                $("#jq_tabs").tabs();
            });
            </script>
            <style>
                .ui-state-active {
                    color: #fefefe;
                    background:#f40361;
                    border: none;
                    outline: none;
                }
                .ui-state-active a {
                    border: none;
                    outline: none;
                    background:#f40361;
                }
            </style>
            <div id="jq_tabs" style="display: none">
                <ul class="css-menu-3" style="margin-bottom:0">
                    <li><a href="#tab_offers">Таб 1</a></li>
                    <li><a href="#tab_news">Таб 2</a></li>
                    <li id="anchor_catalog"><a href="#tab_catalogs">Таб 3</a></li>
{#                    <li><a href="#tab_vacancies">Вакансии</a></li>#}
                    <li><a href="#tab_events">Таб 4</a></li>
                </ul>
{#                <div>#}
{#                    <div id="tab_offers" class="table_wrap" style="background-color: #ffffff;">#}
{#                        {% include 'accounts/companies/tabs/tab_offers.html' %}#}
{#                    </div>#}
{#                    <div id="tab_news" class="table_wrap" style="background: none">#}
{#                        {% include 'accounts/companies/tabs/tab_news.html' %}#}
{#                    </div>#}
{#                    <div id="tab_catalogs" class="table_wrap">#}
{#                        {% include 'accounts/companies/tabs/tab_catalogs.html' %}#}
{#                    </div>#}
{#                    <div id="tab_vacancies" class="table_wrap">#}
{#                        {% include 'accounts/companies/tabs/tab_vacancies.html' %}#}
{#                    </div>#}
{#                    <div id="tab_events" class="table_wrap" style="background: none">#}
{#                        {% include 'accounts/companies/tabs/tab_events.html' %}#}
{#                    </div>#}
{#                </div>#}
            </div>
        </div>
    </div>
    <div class="popup" id="add-to-favourites" style="width: 500px;">

        <h3 style="margin-top:-10px;">Избранные модели.</h3>

        <div class="jq_call_order_form" style="position: relative">
            <div class="call_order_form_success add-model" style="position: relative">
                <p>Модель успешкно добавлена</p>
            </div>
            <div class="call_order_form_success remove-model" style="position: relative">
                <p>Модель удалена из избранных</p>
            </div>
    {#        {% include 'call_orders/forms/call_order_form.html' %}#}
        </div>

        <a class="close" title="Закрыть" href="#close"></a>
    </div>
    <!-- Go to www.addthis.com/dashboard to customize your tools --> <script type="text/javascript" src="//s7.addthis.com/js/300/addthis_widget.js#pubid=ra-5946f857ff2418a7"></script>
{% endblock %}



