.list-group a {color: black}
.list-group a:hover {background-color: #f5f5f5;}
.list-group a.not-read {font-weight: bold}
.list-group p {margin: 0;}
.list-group a span {float: right; color: #4D4D4D}
.list-group a p.list-group-item-secondary {font-size: 0.8em; color: #4D4D4D}
.list-group-item {
    position: relative;
    display: block;
    padding: 10px 15px;
    margin-bottom: -1px;
    background-color: #fff;
    border: 1px solid #ddd;
}